@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900');

:root {
    --primary-color: #3B413D;
    --secondary-color: #e3b45e;
    --tertiary-color: #272524;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    margin: 0; 
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    margin-bottom: 32px;
}

button {
    width: 200px;
    height: 54px;
    border-radius: 8px;
    background-color: white;
    color: var(--tertiary-color);
    font-size: 14px;
    border: none;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.navbar ul li a {
    text-decoration: none;
}

a:hover {
    color: #F2DCB5;
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    gap: 64px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 6rem;
}

.hero img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50% 50% 8px 8px;
    border: 4px solid var(--secondary-color);
}

section {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.websites {
    margin-bottom: 124px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.projects-container {
    display: flex;
    gap: 76px;
}


.hidden .project {
    transform: translateX(-100%);
}

.show .project {
    transform: translateX(0);
}

/* find better way to do this */
.project:nth-child(2) {
    transition-delay: 200ms;
}

.project:nth-child(3) {
    transition-delay: 400ms;
}

.project:nth-child(4) {
    transition-delay: 600ms;
}

.project:nth-child(5) {
    transition-delay: 800ms;
}

.project:hover {
    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.project img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}


/* -------------- modal -------------- */
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.modal.show {
    pointer-events: auto;
    opacity: 1;
    overflow: hidden;
}

.modal img {
    width: 600px;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.modal p {
    color: white;
}

.close-modal-button {
    background-color: white;
    width: 200px;
    height: 36px;
    border-radius: 8px;
    margin-top: 76px;
}

.modal-container {
    background-color: var(--tertiary-color);
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 32px 120px;
}
/* -------------- modal -------------- */


.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 500px 0 200px 0;
    gap: 24px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    align-items: center;
}

.input-fields input {
    width: 400px;
    height: 54px;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.contact-me-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.send-button {
    margin-top: 16px;
}

.github-button {
    text-decoration: none;
    width: 200px;
    height: 54px;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    color: white;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
